.map {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    &__container {
        width: 100%;
        height: 100vh;

        & > div {
            width: inherit;
            height: inherit;
        }
    }

    &__control {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        margin-bottom: 2.75rem;
        z-index: 1000;
    }

    &__inputs {
        padding: 0 1rem;
    }

    &__order-btn {
        padding: 1rem;
    }
}

.leaflet-container {
    transition: filter 0.5s ease;
}

.leaflet-control {
    display: none;
}

.route-line-light {
    stroke: #282828;
}

.route-line-dark {
    stroke: #fefefe;
}

@media (prefers-color-scheme: dark) {
    .leaflet-container {
        filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
    }

    .leaflet-marker-icon {
        filter: brightness(1) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(1   );
    }
}
